.noteCard {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 2px solid rgb(240, 253, 255);
}

.noteCard:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);
    border: 2px solid rgb(7, 92, 107);
}